li {
    float: left;
}

#glass {
    width: 10px;
}

#logo {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


/* __________________________________________________ROW1______________________ */

ul#row1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: silver;
}

li#R1 {
    display: block;
    color: black;
    text-align: center;
    padding: 1px;
    text-decoration: none;
    font-size: 5px;
}

a#ROW1 {
    display: block;
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

a#ROW1:hover {
    background-color: blue;
}


/* __________________________________________________ROW2______________________ */

ul#row2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Black;
}

li.R2 {
    display: block;
    color: White;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.ROW2 {
    display: block;
    color: white;
    padding: 4px 4px;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


/* __________________________________________________ROW3______________________ */

ul#row3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.R3 {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.ROW3 {
    display: block;
    color: gray;
    padding: 4px 4px;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


/* __________________________________________________ROW4______________________ */

ul#row4 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.R4 {
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.ROW4 {
    display: block;
    color: gray;
    padding: 4px 4px;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}


/* __________________________________________________ROW5______________________ */

ul#row5 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li.R5 {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a.ROW5 {
    display: block;
    color: black;
    padding: 4px 4px;
    text-decoration: none;
    font-family: Helvetica;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

a.ROW5:hover {
    color: red;
}

li.R5:hover {
    color: red;
}


/* __________________________________________________ROW END______________________ */